//"off" or 0 - turn the rule off
//"warn" or 1 - turn the rule on as a warning(doesn’ t affect exit code)
//"error" or 2 - turn the rule on as an error(exit code is 1 when triggered)
{
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended", "prettier", "prettier/react", "plugin:react/recommended"],
  "plugins": [
    "react",
    "eslint-plugin-import",
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-prettier",
    "eslint-plugin-react",
    "eslint-plugin-react-native",
    "react-native"
  ],
  "rules": {
    "react/no-did-mount-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/jsx-uses-vars": 2,
    "no-undef": 2,
    "react/prop-types": 2,
    "react/jsx-no-bind": 2,
    "react/jsx-no-duplicate-props": 2,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/prefer-stateless-function": [0],
    "react/jsx-indent": [0],
    "react/sort-comp": [0],
    "react/destructuring-assignment": [0],
    "react/forbid-prop-types": [0],
    "react/no-unescaped-entities": ["error", {
      "forbid": [">", "}"]
    }],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "no-use-before-define": "off",
    "semi": ["error", "always"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "jsxSingleQuote": false,
        "printWidth": 100,
        "semi": true,
        "jsxBracketSameLine": true
      }
    ]
  },
  "env": {
    "jest": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "GLOBAL": false,
    "it": false,
    "expect": false,
    "describe": false
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }

}
